<!DOCTYPE html>
<html lang="pt-br   ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/fixedWhats.css">
    <link rel="shortcut icon" href="./images/base-de-dados.png">
</head>
<body>

    <div>
        <a href="https://wa.me/5511989402725?text=Olá!%20Como%20podemos%20te%20ajudar?" target="_blank"><img class="logo_whats" title="Entrar em contato com o Suporte do PAN" src="/images/whats_logo.png" alt="Logo do Whats, entre em contato" /></a>
    </div>
    
</body>
</html>