<!DOCTYPE html>
<html>
  <head>
    <title>Panel JDev</title>
    <link rel='stylesheet' href='/styles/index.css' />
    <link rel="shortcut icon" href="./images/base-de-dados.png">
  </head>
  <body>
    <!-- conteúdo 01  -->
    <div class="container imagem__fundo1" id="container1">
        <!-- header da página -->
        <div class="header">
            <!-- <h1 class="header__titulo"> Cadastros PAN </h1> -->
            <img src="/images/logojdev1.png" class="header__logo" alt="Logo da empresa">
            <!-- menu navegação -->
            <div class="menu__principal">
                <ul class="menu_responsivo">
                    <li class="menu-li"><a href="/users" class="menu__item">Usuarios</a></li>
                    <li class="menu-li"><a href="/compras" class="menu__item">Compras</a></li>
                    <li class="menu-li"><a href="/produtos" class="menu__item">Função</a></li>
                    <li class="menu-li"><a href="/login" class="menu__item">Login</a></li>
                </ul>
            </div>
        </div>
        <!-- fim header da página -->

        <!-- cards ADM-->

          <div class="container__conteudo">

            <div class="conteudo__paragrafo">
              <h2 class="card__titulo"><%= userName %></h2>
            </div>

            <div class="conteudo__paragrafo">
              <h2 class="card__titulo"><%= produtoName %></h2>
            </div>

          </div>

    </div>

    <script src="/javascripts/index.js"></script>
    <!-- <script src="/javascripts/auth.js"></script> -->

  </body>
</html>