<!DOCTYPE html>
<html>
  <head>
    <title>dataProgress</title>
    <link rel='stylesheet' href='/styles/login.css' />
    <link rel="shortcut icon" href="./images/base-de-dados.png">
  </head>
  <body>

    <div class="imagem__fundo1">
      <h1> <%= title %> PAN</h1>
      <p>Formulario</p>
    </div>
    
  </body>
</html>
