<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dataProgress</title>
    <link rel="shortcut icon" href="./images/base-de-dados.png">
    <link rel="stylesheet" href="/styles/produtos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
  <body>
    
    <%- include('./partials/header') %>

    <main class="container mt-4">
        <div class="container-lista d-flex justify-content-between">
            <h1>Lista de usuários </h1>
            <form action="/users/search" class="d-flex justify-content-around align-items-center" method="GET">
                <input type="text" class="form-control" placeholder="Pesquise um usuario" name="key">
                <button type="submit" class="ml-3 btn btn-primary"> Buscar </button>
            </form>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> Nome </th>
                    <th scope="col"> Ações </th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <th scope="row"> <%= user.id %> </th>
                        <th> <%= user.name %> </th>
                        <th>
                            <a href="/users/ver/<%= user.id %>" class="btn btn-primary"> Ver dados </a>
                        </th>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>

  </body>
</html>