.menu {
    background-color: #003366;
  }
  
  .produto-menu {
    font-size: 35px;
    font-weight: bold;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  @media(max-width: 810px) {
  
    .produto-menu {
      font-size: 1.6rem;
    }
    
  }
