body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.menu {
    background-color: #003366;
  }
  
.produto-menu {
  font-size: 35px;
  font-weight: bold;
  text-decoration: solid;
  font-family: Arial, Helvetica, sans-serif;
  font-style: unset;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.card {
    border-radius: 15px;
    border: none;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
}

.list-group-item {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    font-size: 1.1rem;
}

.list-group-item strong {
    color: #495057;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 8px;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    border-radius: 8px;
}

@media (max-width: 810px) {
    .produto-menu {
        font-size: 1.4rem;
    }

    .card {
        padding: 20px;
    }

    .btn-primary, .btn-danger {
        width: 100%;
    }
}