.button-cadastro {
    margin-bottom: 0.5rem;
  }

  .ref {
    color: white;
  }

@media(max-width: 1220px) {
    .container-lista {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
    }
}